<%=render 'utilidades/errores', current_model: @listas %>
<div class="container">
	<%= form_for(['admin',@listas], html: {class: 'form-horizontal'}) do |f| %>
	<div class="form-group">
		<%= f.label :encargado, class: 'form-label' %>
		<%= f.text_field :encargado, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :usuario, class: 'form-label' %>
		<%= f.select :user_id, User.all.map{|u| [u.nombre_usuario, u.id] }, {prompt: "seleccionar"},  class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :paciente, class: 'form-label' %>
		<%= f.select :patient_id, Patient.all.map{|pa| [pa.paciente_nombre, pa.id] }, {prompt: "seleccionar"},  class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :fecha, class: 'form-label' %>
		<%= f.text_field :fecha, class: 'datepicker form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :hora, class: 'form-label' %>
		<%= f.text_field :hora, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :atendido, class: 'form-label' %>
		<%= f.text_field :atendido, class: 'form-control' %>
	</div>

		<%= f.submit nil, class: 'btn btn-mini btn-success' %>


	<% end %>

</div>